* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%
};

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: #f9f9f9;
    color: #2a2a2a;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 992px) {
        padding: 0 15em;
    }

    .title-container {
        margin: 1em;
        padding: 0.5em;
        background: #e1e1de;
        border-radius: 3px;

        h1 {
            margin-bottom: 0.25em;
            font-size: 1.4em;
        }
    }

    .country-info {
        margin: 0 1em;
        padding: 0.5em;
        background: #e1e1de;
        border-radius: 3px;
    }

    .canvas-container {
        flex-grow: 1;
        position: relative;

        .canvas-background {
            position: absolute;
            top: 1em;
            right: 1em;
            bottom: 1em;
            left: 1em;
            background: #e1e1de;
            border-radius: 3px;
            z-index: -1;
        }

        canvas {
            cursor: move;
        }
    }
}
